<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="css/estilo.css">
</head>
<body style="background-image:url('https://s2.glbimg.com/LY4_vdY1TnAMSluOwe-217jzb0g=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/t/e/k2OOKwSyCrBxEPAhDfug/imperial-cs-go-pgl-major-antwerp-2022-3-.jpg');">
    <div class="container">
        <div class="row">
            <div class="col text-center link-light">
                <h1 class="text-center">Lista de Atividades</h1>
                <h3 class="text-center">Login</h3>
                <form action="" class="" method="POST">
                    <input type="email" name="email"
                    required class=form-control 
                    placeholder="Email" id="">
                    <input type="password" name="senha"
                    required class="form-control"
                    placeholder="Senha" id="">
                    <input type="submit" value="Entrar"
                    class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</body>
</html>